@import "../../../App";

.footer-section{
    position: relative;
    .footer-section-one{
        background-color: #181818;
        background-image: url("../media/dots.png");
        background-repeat: repeat;
        position: relative;
        padding: 6em 0;
        .logoContainer {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            z-index: 10;
            margin-bottom: 5rem;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transform: var(--main-translateX);
            height: 1px;
            background-color: $--mainLightGray;
            top: 120px;
            width: 100%;
            opacity: 0.2;
        }
        
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        
            .box_of_info {
                @include box_of_info_function();
                .contact-info {
                    color: #FFC222;
                    font-size: 18px;
                    font-weight: 800;
                }
        
                // Social Media
                .social-media {
                    ul {
                        display: flex;
                        gap: .4em;
        
                        li {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            color: #1E1D23;
                            background-color: $--mainYellow;
                            width: 35px;
                            height: 35px;
                            font-size: 11px;
                            border-radius: 50%;
                            border: 1px solid $--mainYellow;
                            cursor: pointer;
                            transition: $--mainTransition;
        
                            &:hover {
                                background-color: $--mainYellowHover;
                            }
                        }
                    }
                }
        
                .subscribe {
                    position: relative;
                    width: 100%;
        
                    justify-content: flex-end;
        
                    input {
                        height: 8vh;
                        padding: 0 15px 0 15px;
                        border: 1px solid #818a9173;
                        line-height: 1.4;
                        font-size: 15px;
                        height: 9vh;
                        width: 100%;
                    }
        
                    button {
                        @include btn;
                        width: 45%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    .footer-section-two{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 15vh;
        padding: 0 2em;
        align-items: center;
        background-color: #00a850;
        color: $--mainWhite;
        font-size: 14px;
        font-weight: 500;
        .right-reserved{
            a{
                color: $--mainYellow;
            }
        }
        .payment-methods{
            cursor: pointer;
        }
    }
}



// ==============
// Start Responsivity
// ==============

/* Big Screens */
@media (max-width: 1200px) {
    .footer-section {
        .footer-section-one {
            .container {
                .box_of_info{
                    .subscribe {
                        input {
                            height: 5vh;
                        }
                    }
                }
            }
        }
    }
}

/* medium Screens */
@media (max-width: 992px) {
    .footer-section {
        .footer-section-one{
            .container {
                flex-wrap: wrap;
                .box_of_info {
                    margin-bottom: 5rem;
                    width: 30vw;
                    .subscribe {
                        input {
                            height: 4vh;
                        }
                    }
                }
                
            }
        }
    }
}
/* Small Screens */
@media (max-width: 768px) {
    .footer-section {
        .footer-section-one{
            .container {
                padding: 0 80px;
                .box_of_info {
                    width: 100%;
                    .subscribe{
                        width: 100vw;
                        padding: 0 20px;
                        
                    }
                }
                
            }
        }
        .footer-section-two{
            flex-direction: column;
            justify-content: center;
            gap: 22px;
        }
    }
}

// ==============
// End Responsivity
// ==============