/* Start Screen Responsive */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */
.container {
  padding: 0 80px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Gilroy', sans-serif;
}

input, textarea {
  outline: none;
}

.section {
  padding-top: 100px;
}

h1 {
  font-weight: 800;
}

a {
  color: #999;
  font-weight: 500;
}

a:hover {
  color: #eeac00;
}

.App {
  position: relative;
  overflow: hidden;
}

/* medium Screens */
@media (max-width: 1200px) {
  .App {
    padding-bottom: 75px;
  }
}

.footer-section {
  position: relative;
}

.footer-section .footer-section-one {
  background-color: #181818;
  background-image: url("../media/dots.png");
  background-repeat: repeat;
  position: relative;
  padding: 6em 0;
}

.footer-section .footer-section-one .logoContainer {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  z-index: 10;
  margin-bottom: 5rem;
}

.footer-section .footer-section-one::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: var(--main-translateX);
          transform: var(--main-translateX);
  height: 1px;
  background-color: #999;
  top: 120px;
  width: 100%;
  opacity: 0.2;
}

.footer-section .footer-section-one .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.footer-section .footer-section-one .container .box_of_info {
  width: 20vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .footer-section-one .container .box_of_info h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-bottom: 25px;
}

.footer-section .footer-section-one .container .box_of_info p {
  line-height: 1.8;
  font-size: 15px;
  font-weight: 500;
  color: #b0b0b0;
  margin-bottom: 2em;
}

.footer-section .footer-section-one .container .box_of_info .contact-info {
  color: #FFC222;
  font-size: 18px;
  font-weight: 800;
}

.footer-section .footer-section-one .container .box_of_info .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .4em;
}

.footer-section .footer-section-one .container .box_of_info .social-media ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1E1D23;
  background-color: #FFC222;
  width: 35px;
  height: 35px;
  font-size: 11px;
  border-radius: 50%;
  border: 1px solid #FFC222;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-section .footer-section-one .container .box_of_info .social-media ul li:hover {
  background-color: #eeac00;
}

.footer-section .footer-section-one .container .box_of_info .subscribe {
  position: relative;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-section .footer-section-one .container .box_of_info .subscribe input {
  height: 8vh;
  padding: 0 15px 0 15px;
  border: 1px solid #818a9173;
  line-height: 1.4;
  font-size: 15px;
  height: 9vh;
  width: 100%;
}

.footer-section .footer-section-one .container .box_of_info .subscribe button {
  color: #1E1D23;
  background-color: #FFC222;
  font-size: 12px !important;
  font-weight: 900;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  line-height: normal !important;
  border: solid 3px #FFC222;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 45%;
  border-radius: 0;
}

.footer-section .footer-section-one .container .box_of_info .subscribe button:hover {
  background-color: #fff;
}

.footer-section .footer-section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 15vh;
  padding: 0 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00a850;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.footer-section .footer-section-two .right-reserved a {
  color: #FFC222;
}

.footer-section .footer-section-two .payment-methods {
  cursor: pointer;
}

/* Big Screens */
@media (max-width: 1200px) {
  .footer-section .footer-section-one .container .box_of_info .subscribe input {
    height: 5vh;
  }
}

/* medium Screens */
@media (max-width: 992px) {
  .footer-section .footer-section-one .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-section .footer-section-one .container .box_of_info {
    margin-bottom: 5rem;
    width: 30vw;
  }
  .footer-section .footer-section-one .container .box_of_info .subscribe input {
    height: 4vh;
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .footer-section .footer-section-one .container {
    padding: 0 80px;
  }
  .footer-section .footer-section-one .container .box_of_info {
    width: 100%;
  }
  .footer-section .footer-section-one .container .box_of_info .subscribe {
    width: 100vw;
    padding: 0 20px;
  }
  .footer-section .footer-section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 22px;
  }
}
/*# sourceMappingURL=Footer.css.map */