@import "../../../App";

.pagination-container{
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 4rem;
.pagination{
    display: flex; 
    gap: .5em;
    li{
        a{
            padding: 10px 15px;
            background: $--mainYellow;
            color: $--mainHeading;
            font-weight: 600;
        }
    }    
}
}