@import "../../../App";


.wishlist-section{
    a {
        display: block;
        color: $--mainYellow;
        font-size: 15px;
        font-weight: 800;
        margin-bottom: .5em;
    
        &:hover {
            color: $--mainYellowHover;
        }
    }
    // ======== Start Food Table ========

    .food-table-section{
        margin-bottom: 5em;
        padding-left:30px;
        padding-right:30px;
        table{
            border-spacing: 0;
            width: 100%;
            border-collapse: collapse;
            tr{
                border-spacing: collapse;

                &:hover{
                    background-color: #f2f2f2 !important;
                    
                }
                td{
                    border: solid 1px $--mainBorder;
                }
                // --------------
                // --------------
                .img-section {
                    width: 90px;
                    background-color: #f7f3ee;
                    @include img()
                }
                
                // --------------
                // --------------
                
                .food-info-section {
                    padding: 10px 5px;
                    width: 65vw;
                    
                    .price, p{
                        color: $--mainLightGray;
                        font-weight: 500;
                        margin-right: 0.5em;
                    }
                    .discounted-price{
                        font-weight: 800;
                        color: $--mainLightGray;
                    }
                    p{
                        margin-top: 5.5px;
                    }

                }
                
                
                // --------------
                // --------------
                
                .add-cart-section { 
                    padding: 10px 15px ;
                    padding-right: 20px;
                    span{
                        display: block;
                        margin-bottom: .5em;
                        color: $--mainLightGray;
                    }
                    a{
                        color: $--mainYellow;
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        &:hover{
                            color: $--mainYellowHover;
                        }
                    }
                }
            }
        }

    }
    // ======== End Food Table ========

    // ======== Start Share Links ========
    .share-on{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 5em;
        padding-left:30px;
        padding-right:30px;
        .left-side{
            display: flex;
            span{
                margin-right: 1em;
                color: $--mainLightGray;
            }
            ul{
                display: flex;
                gap: .5em;
                
            }
        }
        .right-side{
            #link{
                height: 9vh;
                display: flex;
                align-items: center;
                span{
                    color: $--mainLightGray;
                    width: 100px;
                }
                input {
                    font-size: 15px;
                    padding: .68em 1em;
                    background-color: transparent;
                    color: $--mainLightGray;
                    border: solid 1px $--mainBorder;
                    font-weight: 500;
                    border-radius: 20px;
                    outline: 0;
                }
                button{
                    @include btn;
                    width: 100px;
                }
            }
        }

    }
    // ======== End Share Links ========

}

// ==============
// Start Responsivity
// ==============


/* Medium Screens */
@media (max-width: 992px) {
.wishlist-section {
    .food-table-section {
        table {
            tr {
                // --------------
                // --------------
                .img-section {
                    width: 100px;
                }
                // --------------
                // --------------
                .food-info-section {
                    width: 50vw;
                }


                // --------------
                // --------------

                .add-cart-section {
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
}


/* Small Screens */
@media (max-width: 768px) {
    .wishlist-section {
        .food-table-section {
            table {
                tr {

                    // --------------
                    // --------------
                    .food-info-section {
                        width: 35vw;
                        a{
                            font-size: 12px;
                        }
                        p{
                            font-size: 12px;
                        }
                        span{
                            font-size: 13px !important;
                        }
                    }


                    // --------------
                    // --------------

                    .add-cart-section {
                        span{
                            font-size: 10px;
                            font-weight: 600;
                        }
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
// ==============
// End Responsivity
// ==============