/* Start Screen Responsive */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */
.container {
  padding: 0 80px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Gilroy', sans-serif;
}

input, textarea {
  outline: none;
}

.section {
  padding-top: 100px;
}

h1 {
  font-weight: 800;
}

a {
  color: #999;
  font-weight: 500;
}

a:hover {
  color: #eeac00;
}

.App {
  position: relative;
  overflow: hidden;
}

/* medium Screens */
@media (max-width: 1200px) {
  .App {
    padding-bottom: 75px;
  }
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.search-bar .custom-icon-container {
  position: absolute;
  right: 20px;
  top: 20px;
}

.search-bar .input-container {
  position: absolute;
  left: 50%;
  top: 10em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45vw;
  height: 7vh;
}

.search-bar .input-container input {
  width: 100%;
  height: 100%;
  background-color: #fbf7e8;
  border: solid 1px #fbf7e8;
  padding-left: 1.7em;
  padding-right: 7em;
  color: #999;
  font-weight: 500;
  font-size: 14px;
}

.search-bar .input-container .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 1200;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.search-bar .input-container .icon-container:hover {
  background-color: #eeac00;
}

.search-bar .input-container .icon-container svg {
  font-size: 20px;
  color: #1E1D23;
}

.search-bar .foodResults {
  position: absolute;
  left: 50%;
  top: 13em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 45vw;
  height: 40vh;
  background-color: #fff;
  overflow: scroll;
  padding: 0 30px;
}

.search-bar .foodResults .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar .foodResults .box .img-container {
  width: 150px;
}

.search-bar .foodResults .box .img-container img {
  width: 100%;
}

.search-bar .foodResults .box .other-content {
  text-align: end;
}

.search-bar .foodResults .box .other-content .details {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

.search-bar .foodResults .box .other-content .details .foodTitle {
  color: #FFC222;
  font-size: 20px;
  font-weight: 700;
}

.active-search-bar {
  opacity: 1;
  pointer-events: auto;
}
/*# sourceMappingURL=style.css.map */