@import "../../../App";

.box-of-food {
    margin-bottom: 4em;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;

    .box-wrapper {
        padding: 10px;
        border-radius: 20px;
        border: solid 1px #e5e5e5;
        width: 45%;
        margin-bottom: 1em;

        .box {
            display: flex;
            background: #fff8e7;
            border-radius: 20px;
            padding: 10px;
            align-items: center;

            .img-container {
                @include img();
                width: 220px;
                margin-right: 1em;

            }

            // ------------------------
            .other-content {
                display: flex;
                padding: 10px;

                a {
                    color: $--mainHeading;
                    font-size: 22px;
                    font-weight: 800;
                    line-height: 1.3;
                    margin-bottom: 6px;

                    &:hover {
                        color: $--mainYellowHover;
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 1.5;
                    overflow: hidden;
                    color: $--mainLightGray;
                    height: 3em;
                    margin: 2em 0;
                }

                .price-container {
                    font-size: 20px;
                    color: $--mainLightGray;
                    font-weight: 800;
                    margin-right: 0.5em;

                    span {
                        color: $--mainYellow;
                        margin-left: .5em;
                    }
                }
            }

            .icon-container {
                display: flex;
                align-items: end;
                padding-left: 1em;

                svg {
                    color: $--mainHeading;
                    cursor: pointer;
                    background: $--mainYellow;
                    width: 30px;
                    padding: 14px 7px;
                    border: solid 1px transparent;
                    border-radius: 20px;
                }
            }

            // ------------------------
        }
    }
}

// ========================
/* Medium Screens */
// ========================
@media (max-width: 992px) {
        .box-of-food {
            display: grid;
            justify-items: center;

            .box-wrapper {
                width: 100%;

                .box {
                    .other-content {
                        a {
                            font-size: 19px;
                        }

                        p {
                            margin: 1em 0;
                        }
                    }

                    .icon-container {
                        svg {
                            width: 30px;
                            padding: 10px 4px;
                        }
                    }
                }
        }
    }
}

// ========================
/* Small Screens */
// ========================
@media (max-width: 768px) {
        .box-of-food {
        padding: 0 30px;
        .box-wrapper {
            width: 80%;
        }
    }
}