@import "../../../../../../App";

.popular{
    margin-bottom: 4em;
    .popular-title{
        color: $--mainHeading;
        font-size: 42px;
        line-height: 45px;
    }
    .btn-container{
        display: flex;
        justify-content: center;
        text-align: center;
        .show-all-btn{
            @include btn();
            width: 140px;
            font-weight: 700
        }
    }
}