@import "../../../App";

// ====================================
.menu-list-part {
    display: grid;
    justify-items: center;
    margin-bottom: 4rem;

    h1 {
        color: $--mainHeading;
        font-size: 36px;
        text-transform: capitalize;
        line-height: 36px;
        margin-bottom: 40px;
    }

    ul {
        display: flex;
        gap: .5em;

        li {
            width: 18vh;
            text-align: center;
            border: dashed 1px $--mainLightGray;
            border-radius: 30px;
            padding: 20px;
            cursor: pointer;
            transition: $--mainTransition !important;
            text-transform: uppercase;
            font-weight: 700;
            color: $--mainHeading;
            &:hover {
                border: dashed 1px $--mainYellowHover;
                color: $--mainYellowHover;
            }
        }
    }
}

// ====================================